/Rpg_proj_code/obj/*
/.vs/*
/.git/*
*.pptx
*.png
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.AssemblyInfo.cs
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.AssemblyInfoInputs.cache
\Rpg_proj\Proj_B\Mini-Project-B\Rpg_proj_code\bin\Debug\net8.0\Rpg_proj.dll
*.dll
*.exe
*.pdb
*.cs
*.cache
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.AssemblyInfo.cs
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.AssemblyInfoInputs.cache
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.assets.cache
Rpg_proj_code/obj/Debug/net8.0/Rpg_proj.GeneratedMSBuildEditorConfig.editorconfig
